<div class="modal fade" [id]="updateMode? 'updateModal' : 'createModal'" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="box box-primary modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          onclick="document.getElementById('createModal').style.display='none'" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <b *ngIf="!updateMode">{{ "add check" | trans }}</b>
          <b *ngIf="updateMode">{{ "update check" | trans }}</b>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>{{ "date" | trans }} *</th>
            <td>
              <input type="date" class="form-control input-sm" [(ngModel)]="item.date">
            </td>
          </tr>
          <tr>
            <th>{{ "check number" | trans }} *</th>
            <td>
              <input type="number" class="form-control input-sm" [(ngModel)]="item.number">
            </td>
          </tr>
          <tr>
            <th>{{ "value" | trans }} *</th>
            <td>
              <input type="text" class="form-control input-sm" [(ngModel)]="item.value">
            </td>
          </tr>
          <tr>
            <th>{{ "bank" | trans }} *</th>
            <td>
              <select class="form-control input-sm" [(ngModel)]="item.bank_id">
                <option *ngFor="let row of banks" value="{{ row.id }}">{{ row.name }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>{{ "person" | trans }} </th>
            <td>
              <input type="text" class="form-control input-sm" [(ngModel)]="item.person">
            </td>
          </tr>
          <tr>
            <th>{{ "الشخص "  }} </th>
            <td>
              <select class="form-control input-sm  " [(ngModel)]="item.person_id">
                <option *ngFor="let row of persons" value="{{ row.id }}">{{ row.name }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>{{ "الشركه "  }} </th>
            <td>
              <select class="form-control input-sm " [(ngModel)]="item.company_id">
                <option *ngFor="let row of companies" value="{{ row.id }}">{{ row.name }}</option>
              </select>
            </td>
          </tr>
          <!-- {{ row.id  }}
             <div class="col-lg-2">
                        <label for="">{{ "level" | trans }}</label>
                        <select id="level_id" class="form-control input-sm select2 level_id" [(ngModel)]="level_id">
                          <option value="">{{ "level" | trans }}</option>
                    <option *ngFor="let item of levels" value="{{ item.id }}">{{item.name}}</option>
                  </select>
                    </div>
           -->
          <tr>
            <th>{{ "notes" | trans }} </th>
            <td>
              <input type="text" class="form-control input-sm" [(ngModel)]="item.notes">
            </td>
          </tr>
          <tr>
            <th>{{ "is_paid" | trans }} </th>
            <td>
              <mat-slide-toggle [(ngModel)]="item.notes"></mat-slide-toggle>
            </td>
          </tr>
          <tr>
            <th>{{ "attachment" | trans }} </th>
            <td>
              <input type="file" class="form-control input-sm" (change)="helper.setFile($event, 'attachment', item)">
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer text-right">
        <button type="button" mat-raised-button
          (click)="updateMode? doc.jquery('#updateModal').modal('hide') : doc.jquery('#createModal').modal('hide')">{{
          "close" | trans }}</button>

        <button mat-raised-button color="primary" [disabled]="isSubmitted" (click)="sendResource()">
          <span *ngIf="!isSubmitted">{{ "save" | trans }}</span>
          <span *ngIf="isSubmitted" class="fa fa-spin fa-spinner"></span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->