<div class="w3-block w3-row">
  <div class="w3-white material-shadow safe-box col-lg-6 col-md-6 col-sm-6">
    <div class="safe-box-header w3-large" style="padding: 5px!important">
      {{ "users history" | trans }}
    </div>
    <div class="border-bottom-dashed"></div>
    <br>

    <div class="row">

      <div class="col-lg-12">
        <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">

          <div class="custom-panel-body table-responsive w3-padding w3-center" style="height: 400px;" >
            <table class="table-bordered" >
              <thead>
                <th>#</th>
                <th>{{ "name" | trans }}</th>
                <th>{{ "start_date" | trans }}</th>
                <th>{{ "end_date" | trans }}</th>
                <th></th>
              </thead>
              <tbody>

                <tr>
                  <td></td>
                  <td>
                    <button class="fa fa-plus w3-block btn btn-default btn-flat" ></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>


  </div>
</div>
