 
<!-- remove modal -->
<div class="modal fade" id="createModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ "add required document" | trans }}</h4>
      </div>
      <div class="modal-body text-center">
        <table class="table">
          <tr>
            <th>{{ "name" | trans }} *</th>
            <td>
              <input type="text" class="form-control input-sm"  [(ngModel)]="resource.name" >
            </td>
          </tr>
          <tr>
            <th>{{ "type" | trans }} *</th>
            <td>
              <select class="form-control input-sm"  [(ngModel)]="resource.type"  >
                <option value="original">{{ "original" | trans }}</option>
                <option value="copy">{{ "copy" | trans }}</option>
                <option value="both">{{ "both" | trans }}</option>
              </select> 
            </td>
          </tr>
          <tr>
            <th>{{ "notes" | trans }}</th>
            <td>
              <input type="text" class="form-control input-sm"  [(ngModel)]="resource.notes" >
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer text-center"> 
          <button type="button" class="btn btn-default" (click)="doc.jquery('#createModal').modal('hide')" >{{ "close" | trans }}</button>
          <button class="btn btn-primary" [disabled]="isSubmitted" (click)="addResource()" >{{ "add" | trans }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->