<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="w3-white material-shadow safe-box">
            <div class="safe-box-header w3-large" style="padding: 5px!important">
                {{ "register academic plan" | trans }}
            </div>
            <div class="border-bottom-dashed"></div>
            <br>

            <div class="safe-box-body row">

                <!-- courses panel -->
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <!-- course categories panel -->
                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">
                        <div class="custom-panel-title">{{ "filter" | trans }}</div>
                        <div class="custom-panel-body table-responsive">

                            <div class="row">



                                <!-- <div class="col-md-3">
                                    <label for="">{{ "course category" | trans }}</label>

                                    <select class="w3-round-xxlarge select2  filter-category" multiple>
                                        <option *ngFor="let item of categories" value="{{ item.id }}">{{ item.name }}
                                        </option>
                                    </select>
                                </div> -->
                                <div class="col-md-3 " >
                                    <label for="">{{ "المستوى"}}</label><br>

                                    <select style='height: 32px !important; width: 100% !important;' id="level_id" name="filter.level_id" class="" [(ngModel)]="level_id">
                                        <option value="">الكل</option>
                                        <option *ngFor="let item of levels" value="{{ item.id }}">{{item.name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="">{{ "التخصص"}}</label>
                                    <select style='height: 32px !important; width: 100% !important;' id="division_id" name="filter.division_id" class=""
                                        [(ngModel)]="division_id">
                                        <option value="">الكل</option>
                                        <option *ngFor="let item of divisions" value="{{ item.id }}">{{item.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="">{{ "الفصل الدراسى"}}</label>
                                    <select style='height: 32px !important; width: 100% !important;' id="term_id" name="filter.term_id" class="" [(ngModel)]="term_id">
                                        <option value="">الكل</option>
                                        <option *ngFor="let item of terms" value="{{ item.id }}">{{item.name}}</option>
                                    </select>
                                </div>



                                <div class="col-md-3" >
                                    <label for="">{{ "بحث بالاسم
                                        "  }}</label>

                                    <input style='height: 32px !important; width: 100% !important;' type="text" class="" [(ngModel)]="search.key" placeholder="بحث بالاسم">
                                </div>


                                <!-- <div>
                                    <button mat-raised-button color="primary" (click)="filter()" style="margin: 5px"> {{
                                        "search" | trans}} </button>
                                </div> -->

                            </div>
                        </div>
                    </div>

                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">
                        <div class="custom-panel-title">{{ "courses" | trans }}</div>
                        <div class="custom-panel-body table-responsive">
                            <table class="table-bordered text-center w3-tiny" style="width: 100%">
                                <ng-container *ngFor="let row of categories index as counter">
                                    <tr class="w3-light-gray category-row category-{{ row.id }}">
                                        <!-- <th>{{ counter + 1 }}</th> -->
                                        <th>{{ row.name }}</th>
                                        <!-- <th>{{ row.required_hours }}</th> -->
                                    </tr>
                                    <tr class="category-row category-{{ row.id }}">
                                        <td colspan="3">
                                            <table class="table-bordered text-center" style="width: 100%">
                                                <tr>
                                                    <th>#</th>
                                                    <th>{{ "name" | trans }}</th>
                                                    <th>{{ "code" | trans }}</th>
                                                    <th>{{ "credit_hour" | trans }}</th>
                                                    <th>{{ "level" | trans }}</th>
                                                    <th>{{ "division" | trans }}</th>
                                                    <th>{{ "year_work_degree" | trans }}</th>
                                                    <th>{{ "practical_degree" | trans }}</th>
                                                    <th>{{ "academic_degree" | trans }}</th>
                                                    <th>{{ "small_degree" | trans }}</th>
                                                    <th>{{ "large_degree" | trans }}</th>
                                                    <th>{{ "has_project" | trans }}</th>
                                                    <th>{{ "is_required" | trans }}</th>
                                                    <th>{{ "book_price" | trans }}</th>
                                                    <th>{{ "failed_degree" | trans }}</th>
                                                    <th>{{ "prequsites" | trans }}</th>
                                                    <th>{{ "notes" | trans }}</th>
                                                    <th></th>
                                                </tr>
                                                <ng-container
                                                    *ngFor="let item of row.courses|term:term_id|levels:level_id|division:division_id; index as i">
                                                    <tr *ngIf="item.name.indexOf(search.key) >= 0 || !search.key">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>{{ item.name }}</td>
                                                        <td>{{ item.code }}</td>
                                                        <td>{{ item.credit_hour }}</td>
                                                        <td>{{ item.level? item.level.name : '' }}</td>
                                                        <td>{{ item.division? item.division.name : '' }}</td>
                                                        <td>{{ item.year_work_degree }}</td>
                                                        <td>{{ item.practical_degree }}</td>
                                                        <td>{{ item.academic_degree }}</td>
                                                        <td>{{ item.small_degree }}</td>
                                                        <td>{{ item.large_degree }}</td>
                                                        <td>
                                                            <i *ngIf="item.has_project"
                                                                class="fa fa-check-square w3-text-green"></i>
                                                            <i *ngIf="!item.has_project"
                                                                class="fa fa-window-close-o w3-text-red"></i>
                                                        </td>
                                                        <td>
                                                            <i *ngIf="item.is_required"
                                                                class="fa fa-check-square w3-text-green"></i>
                                                            <i *ngIf="!item.is_required"
                                                                class="fa fa-window-close-o w3-text-red"></i>
                                                        </td>
                                                        <td>{{ item.book_price }}</td>
                                                        <td>{{ item.failed_degree }}</td>
                                                        <td>{{ item.prerequsites_names }}</td>
                                                        <td>{{ item.notes }}</td>
                                                        <td>
                                                            <div style="width: 100px">
                                                                <i class="fa fa-edit w3-text-orange btn"
                                                                    (click)="showCourseForm(item)"></i>

                                                                <i *ngIf="item.can_delete"
                                                                    (click)="remove('COURSE', item, i)"
                                                                    class="fa fa-trash w3-text-red btn"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </table>
                                            <br>
                                        </td>
                                    </tr>
                                </ng-container>
                            </table>



                        </div>
                    </div>


                    <!-- course categories panel -->
                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">
                        <div class="custom-panel-body table-responsive w3-padding">
                            <button mat-raised-button color="primary" (click)="showCourseForm()" style="margin: 5px"><i
                                    class="fa fa-send-o"></i> {{ "create course" | trans }} </button>

                            <button mat-raised-button color="primary" (click)="showCourseCategoryForm()"
                                style="margin: 5px"><i class="fa fa-send-o"></i> {{ "create course category" | trans }}
                            </button>

                            <button mat-raised-button color="primary" (click)="showDegreeMapForm()"
                                style="margin: 5px"><i class="fa fa-send-o"></i> {{ "create degree map" | trans}}
                            </button>

                            <button mat-raised-button color="primary" (click)="$('#importExcelModal').modal('show')"
                                style="margin: 5px"> {{ "import from excel" | trans}} </button>
                        </div>
                    </div>


                </div>

                <div class="col-lg-3 col-md-3 col-sm-12">


                    <!-- course categories panel -->
                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">
                        <div class="custom-panel-title">{{ "course category" | trans }}</div>
                        <div class="custom-panel-body table-responsive">

                            <table class="w3-tiny table-bordered text-center w3-block">
                                <tr>
                                    <th>{{ "#" }}</th>
                                    <th>{{ "name" | trans }}</th>
                                    <th>{{ "total_degree" | trans }}</th>
                                    <th>{{ "required_degree" | trans }}</th>
                                    <th></th>
                                </tr>

                                <tr *ngFor="let item of categories index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.total_hours }}</td>
                                    <td>{{ item.required_hours }}</td>
                                    <td>
                                        <div style="width: 100px">
                                            <i class="fa fa-edit w3-text-orange btn"
                                                (click)="showCourseCategoryForm(item)"></i>

                                            <i *ngIf="item.can_delete" (click)="remove('COURSE_CATEGORY', item, i)"
                                                class="fa fa-trash w3-text-red btn"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <button class="btn btn-default w3-margin" class="w3-margin"
                                (click)="showCourseCategoryForm(null)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <br>

                    <!-- course categories panel -->
                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">
                        <div class="custom-panel-title">{{ "degree map" | trans }}</div>
                        <div class="custom-panel-body table-responsive">

                            <table class="w3-tiny table-bordered text-center w3-block">
                                <tr>
                                    <th>{{ "#" }}</th>
                                    <th>{{ "from" | trans }}</th>
                                    <th>{{ "to" | trans }}</th>
                                    <th>{{ "key" | trans }}</th>
                                    <th>{{ "gpa" | trans }}</th>
                                    <th>{{ "name" | trans }}</th>
                                    <th></th>
                                </tr>

                                <tr *ngFor="let item of degreeMaps index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.percent_from }}%</td>
                                    <td>{{ item.percent_to }}%</td>
                                    <td>{{ item.key }}</td>
                                    <td>{{ item.gpa }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <div style="width: 100px">
                                            <i class="fa fa-edit w3-text-orange btn"
                                                (click)="showDegreeMapForm(item)"></i>
                                            <i *ngIf="item.can_delete" (click)="remove('DEGREE_MAP', item, i)"
                                                class="fa fa-trash w3-text-red btn"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <button class="btn btn-default w3-margin" class="w3-margin"
                                (click)="showDegreeMapForm(null)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>
</div>



<app-create-course-form [course]="course" [updateView]="updateView" [categories]="categories"></app-create-course-form>

<app-create-degree-map-form [degreeMap]="degreeMap" [updateView]="updateView"></app-create-degree-map-form>

<app-create-course-category-form [courseCategory]="courseCategory" [updateView]="updateView">
</app-create-course-category-form>


<app-import-excel [apiUrl]="'import-course'" [action]="updateView"></app-import-excel>