<div permission="manage_rooms_map" class="container">
    <div class="w3-block w3-row">
        <div class="w3-white material-shadow safe-box w3-block">
            <div class="safe-box-header w3-large" style="padding: 5px!important">
                توزيع الطلاب على اللجان
            </div>
            <div class="border-bottom-dashed"></div>
            <br>

            <div class="">

                <div class="">
                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">

                        <div class="custom-panel-body table-responsive w3-padding">

                            <div class="row">

                                <div class="col-lg-12 col-md-12" style='text-align: center;'>

                                    <div class="col-lg-3">
                                        <label for="recipient-name" class="col-form-label"> المستوي:</label>
                                        <select class="form-control" id="level_id" name="filter.level_id" [(ngModel)]="filter.level_id" required>
                                        <option *ngFor="let item of levels"  value="{{ item.id }}">{{ item.name }}</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6">
                                        <button (click)='submitData()' type="button" class="btn btn-primary" data-target="#exampleModal" data-whatever="@getbootstrap" style='text-align: center !important; margin-right: 20px; margin-top: 20px;'>توزيع علي اللجان</button>
                                    <!-- <button (click)='submitDataNo()' type="button" class="btn btn-danger" data-target="#exampleModal" data-whatever="@getbootstrap" style='text-align: center !important; margin-right: 20px; margin-top: 20px;'>توزيع علي اللجان الخاصة</button> -->
                                    <button (click)='submitDataTakhlfat()' type="button" class="btn btn-danger" data-target="#exampleModal" data-whatever="@getbootstrap" style='text-align: center !important; margin-right: 20px; margin-top: 20px;'>توزيع علي لجان التخلفات</button>
                                    </div>

                                    
                                    
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">ضع البيانات</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">المدرج:</label>
                                                            <select class="form-control" name="theater_id" [(ngModel)]="theater_id" required>
                                                    <option *ngFor="let item of theatersGet"  value="{{ item.id }}">{{ item.name }}</option>
                                                  </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">اللجنة:</label>
                                                            <select class="form-control" name="commission_id" [(ngModel)]="commission_id" required>
                                                  <option *ngFor="let item of commissionsGet"  value="{{ item.id }}">{{ item.name }}</option>
                                                </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">ارقام الجلوس :</label>
                                                            <select class="form-control" name="student_distribution_id" [(ngModel)]="student_distribution_id" required>
                                              <option *ngFor="let item of student_distributions_number"  value="{{ item.id }}">{{ item.name }}</option>
                                            </select>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">المستوي:</label>
                                                        <select class="form-control" name="level_id" [(ngModel)]="level_id" required>
                                                <option *ngFor="let item of levels"  value="{{ item.id }}">{{ item.name }}</option>
                                              </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{{ "division" | trans }}</label>
                                                        <select class="form-control" [(ngModel)]="filter.division_id">
                                                        <option *ngFor="let item of applicationService.DIVISIONS" value="{{ item.id }}">{{ item.name }}</option>
                                                      </select>
                                                    </div> -->
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">السنة الدراسية:</label>
                                                            <select class="form-control" name="year_id" [(ngModel)]="year_id" required>
                                                            <option *ngFor="let item of applicationService.ACADEMIC_YEARS"  value="{{ item.id }}">{{ item.name }}</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">الفصل الدراسى:</label>
                                                            <select class="form-control" name="term_id" [(ngModel)]="term_id" required>
                                            <option *ngFor="let item of terms"  value="{{ item.id }}">{{ item.name }}</option>
                                          </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message-text" class="col-form-label">عدد الطلبة :</label>
                                                            <input class="form-control" id="message-text" type="number" name='start_number' [(ngModel)]="start_number" required>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id='closeNumber' type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                                                    <button id='beforeLoading' (click)='sendNumber()' type="button" class="btn btn-primary">تأكيد</button>
                                                    <button id='buttonLoading' class="btn btn-primary" type="button" disabled>
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Loading...
                                              </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <span class="w3-xlarge w3-text-green" id="count">

                            </span>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="custom-panel w3-display-container w3-round application-panel student-info-panel" id="printable">

                        <div class="custom-panel-body table-responsive w3-padding" id="reportContent">


                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>
<div id="alertNumber" class="alert alert-danger" role="alert">
    من فضلك ضع البيانات بالكامل صحيحة
</div>
<div id="alertNumberSuccess" class="alert alert-success" role="alert">
    تم توزيع الطلاب على اللجان بنجاح
</div>
