<div class="modal fade"  [id]="updateMode? 'updateModal' : 'createModal'"   role="dialog">
  <div class="modal-dialog" role="document">
    <div class="box box-primary modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="document.getElementById('createModal').style.display='none'"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <b *ngIf="!updateMode" >{{ "add daily" | trans }}</b>
          <b *ngIf="updateMode" >{{ "update daily" | trans }}</b>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table" >
          <tr>
            <th>{{ "trees" | trans }} *</th>
            <td>
              <app-tree [resource]="item" ></app-tree>
            </td>
          </tr>
            <tr>
              <th>{{ "date" | trans }} *</th>
              <td>
                <input type="date" class="form-control input-sm"  [(ngModel)]="item.date" >
              </td>
            </tr>
            <tr>
              <th>{{ "value" | trans }} *</th>
              <td>
                <input type="text" class="form-control input-sm"  [(ngModel)]="item.value" >
              </td>
            </tr>
            <tr>
              <th>{{ "type" | trans }} *</th>
              <td>
                <select  class="form-control input-sm"  [(ngModel)]="item.type" >
                  <option value="bank" >{{ "bank" | trans }}</option>
                  <option value="store" >{{ "store" | trans }}</option>
                </select>
              </td>
            </tr>
            <tr *ngIf="item.type == 'bank'" >
              <th>{{ "bank" | trans }} *</th>
              <td>
                <select  class="form-control input-sm"  [(ngModel)]="item.bank_id" >
                  <option *ngFor="let row of banks" value="{{ row.id }}">{{ row.name }}</option>
                </select>
              </td>
            </tr>
            <tr *ngIf="item.type == 'store'" >
              <th>{{ "store" | trans }} *</th>
              <td>
                <select  class="form-control input-sm"  [(ngModel)]="item.store_id" >
                  <option *ngFor="let row of stores" value="{{ row.id }}">{{ row.name }}</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>{{ "notes" | trans }} </th>
              <td>
                <input type="text" class="form-control input-sm"  [(ngModel)]="item.notes" >
              </td>
            </tr>
        </table>
      </div>
      <div class="modal-footer text-right">
        <button type="button" mat-raised-button
        (click)="updateMode? doc.jquery('#updateModal').modal('hide') : doc.jquery('#createModal').modal('hide')"  >{{ "close" | trans }}</button>

        <button
          mat-raised-button color="primary"
          [disabled]="isSubmitted"
          (click)="sendResource()" >
          <span *ngIf="!isSubmitted" >{{ "save" | trans }}</span>
          <span *ngIf="isSubmitted" class="fa fa-spin fa-spinner" ></span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
