<div
class="jstree-container jstree-container-{{ id }} w3-display-container"
(contextmenu)="showContextMenu($event)"
(click)="hideContextMenu()"
 >
  <div class="jstree{{id}}">

  </div>

  <div
  class="context-menu-{{ id }} material-shadow w3-white"
  id="{{ id }}"
  style="width: 150px;position: fixed;left: 0px;top: 0px;display: none;" >
    <ul class="w3-ul text-right w3-large">
      <li
      class="w3-block w3-button"
      (click)="create()"
      style="padding: 8px!important;text-align: right!important" >
        <span class="fa fa-plus" style="padding-left: 5px" ></span>
        {{ "add new tree" | trans }}
      </li>
      <li
      class="w3-block w3-button"
      (click)="rename()"
      style="padding: 8px!important;text-align: right!important" >
        <span class="fa fa-edit" style="padding-left: 5px" ></span>
        {{ "edit tree" | trans }}
      </li>
      <li
      class="w3-block w3-button"
      (click)="remove()"
      style="padding: 8px!important;text-align: right!important" >
        <span class="fa fa-trash" style="padding-left: 5px" ></span>
        {{ "remove tree" | trans }}
      </li>
    </ul>
  </div>
</div>

<div class="modal fade" id="modal{{ id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button style="padding: 4px"  data-dismiss="modal">{{ "close" | trans }}</button>
        <button type="button" mat-raised-button style="padding: 4px" class="w3-indigo"  >{{ "save" | trans }}</button>
      </div>
    </div>
  </div>
</div>

