<div class="modal " id="studentPayments" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content w3-animate-top">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="doc.jquery('#studentPayments').modal('hide')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">{{ "payments" | trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center" *ngIf="auth.can('safe_student_payment_edit')">
                    <button class="btn btn-default small-shadow" onclick="$('.payment-non-editable').slideToggle(500)">
                      تعديل المدفوعات
                    </button>
                    <br>
                </div>
                <ul class="w3-ul">
                    <li>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="w3-dark-gray">
                                    <th>{{ "date" | trans }}</th>
                                    <th>{{ "store" | trans }}</th>
                                    <th>{{ "value" | trans }}</th>
                                    <th>{{ "type" | trans }}</th>
                                    <th>{{ "print" | trans }}</th>
                                    <th>{{ "is_printed" | trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of paymentsRow index as i">
                                    <tr class="">
                                        <td>
                                            {{ item.date }}
                                        </td>
                                        <td>{{ item.store? item.store.name : '' }}</td>
                                        <td>{{ item.value | currency: ' EGP ' }}</td>
                                        <td>{{ item.model_object? item.model_object.name : '' }}</td>
                                        <td>
                                            <button class="btn btn-default small-shadow" [disabled]="item.is_print == 1" (click)="printPayment(item)">{{ "print" | trans }}</button>
                                        </td>
                                        <td>
                                            <mat-slide-toggle [disabled]="!auth.can('safe_change_print_payment')" (change)="changePaymentStatus(item)" [checked]="item.is_print == 1"></mat-slide-toggle>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </li>
                    <li *ngFor="let item of payments index as i" class=" payment-non-editable" style="display: none">
                        <div class="w3-display-container w3-padding w3-hover-light-gray" (click)="doc.jquery('#tablePayment'+i).slideToggle(500)" style="cursor: pointer;">
                            <span>{{ i + 1 }}) </span>
                            <span class="fa fa-calendar w3-text-indigo w3-margin-left"></span>
                            <span>{{ item.date }}</span>
                            <span class="w3-left">{{ item.total | currency: ' EGP ' }}</span>
                        </div>
                        <table id="tablePayment{{ i }}" style="display: none" class="table table-bordered">
                            <thead>
                                <tr class="w3-dark-gray">
                                    <th>{{ "date" | trans }}</th>
                                    <th>{{ "store" | trans }}</th>
                                    <th>{{ "value" | trans }}</th>
                                    <th>{{ "type" | trans }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="auth.can('safe_student_payment_edit')">
                                    <tr *ngFor="let item of item.payments index as i">
                                        <td>
                                            <input type="date" class="form-control input-sm" [(ngModel)]="item.date">
                                        </td>
                                        <td>
                                            <select class="form-control input-sm" [(ngModel)]="item.store_id" required>
                        <option *ngFor="let row of stores" value="{{ row.id }}" >{{ row.name}}</option>
                      </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control input-sm" [(ngModel)]="item.value">
                                        </td>
                                        <td>
                                            <ng-container *ngIf="item.model_type == 'service'">
                                                <select class="form-control input-sm" [(ngModel)]="item.model_id" required>
                          <option *ngFor="let row of services" value="{{ row.id }}" >{{ row.name }}</option>
                        </select>
                                            </ng-container>
                                            <ng-container *ngIf="item.model_type != 'service'">
                                                {{ item.model_object? item.model_object.name : '' }}
                                            </ng-container>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="item.model_type != 'refund'">
                                                <button class="btn btn-danger btn-sm material-shadow" style="margin: 5px" [disabled]="isSubmitted" (click)="removePayment(item)">
                        <i class="" *ngIf="!isSubmitted" >{{ "remove" | trans }}</i>
                        <i class="fa fa-spin fa-spinner" *ngIf="isSubmitted" ></i>
                      </button>
                                                <button #editbutton style="margin: 5px" class="btn btn-warning btn-sm material-shadow" (click)="editPayment(item, editbutton)">
                        {{ "save" | trans }}
                      </button>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="doc.jquery('#studentPayments').modal('hide')">{{ "close" | trans }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->