
<!-- form modal -->
<div class="modal fade" id="{{ isUpdate? 'update' : 'create' }}Modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="isUpdate" >{{ "edit role" | trans }}</span>
          <span *ngIf="!isUpdate" >{{ "add role" | trans }}</span>

        </h4>
      </div>
      <div class="modal-body text-center">
        <table class="table">
          <tr>
            <th>{{ "name" | trans }} *</th>
            <td>
              <input type="text" class="form-control input-sm" [(ngModel)]="resource.name" >
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer text-center">
          <button type="button" class="btn btn-default" (click)="closeModal()" >{{ "close" | trans }}</button>
          <button class="btn btn-primary" [disabled]="isSubmitted" (click)="send()" >{{ "add" | trans }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
