<app-breadcrumb [breadcrumbList]="breadcrumbList"></app-breadcrumb>

<div class="box box-primary material-shadow w3-white table-responsive" >
  <div class="box-header">
    <button permission="daily_add" mat-raised-button color="primary" (click)="viewCreateModal()" style="margin: 5px"  >
      <span class="fa fa-plus" ></span> {{ "add" | trans }}
    </button>
  </div>

</div>
<div class="mat-elevation-z8 w3-white" style="padding: 7px" >
    <table mat-table [dataSource]="dataSource" matSort  class="">

        <!-- Position Column -->
        <ng-container matColumnDef="date" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "date" | trans }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.date}}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="value" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "value" | trans }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.value}}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="tree_id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "trees" | trans }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.tree? element.tree.text : ''}}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="type" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "type" | trans }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.type | trans }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="bank_id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "daily_model" | trans }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.type == 'bank'" >
              {{element.bank? element.bank.name : ''}}
            </ng-container>
            <ng-container *ngIf="element.type == 'store'" >
              {{element.store? element.store.name : ''}}
            </ng-container>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="notes" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "notes" | trans }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.notes}}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <button permission="daily_edit" mat-button color="warn"  (click)="showUpdateModal(element)"
                style="margin: 5px;" >
                  <i class="fa fa-edit"></i>
                </button>

                <button permission="daily_remove" mat-button class="w3-text-red"
                style="margin: 5px;"
                *ngIf="element.can_delete"
                (click)="remove(element)" >
                  <i class="fa fa-trash"></i>
                </button>
            </td>
       </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!--
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      -->
</div>


<app-daily-form [updateResources]="updateResources" [updateMode]="false" ></app-daily-form>

<app-daily-form [updateResources]="updateResources" [updateMode]="true" [item]="updateItem" ></app-daily-form>



