<app-breadcrumb [breadcrumbList]="breadcrumbList"></app-breadcrumb>

<div class="box box-primary material-shadow w3-white table-responsive" >
  <div class="box-header">

    <button *ngIf="showRemoveButton"   class="btn btn-danger" style="margin: 5px"  >
      <span class="fa fa-trash" ></span>
    </button>
  </div>
  <table  class="table table-bordered text-center ">
    <tr>
      <td>{{ "level" | trans }}</td>
      <td>
        <select style="width: 100px" class="form-control input-sm" (change)="loadAcademicYearExpenses()" [(ngModel)]="level_id" >
          <option *ngFor="let item of levels index as i" value="{{ item.id }}" >{{ item.name }}</option>
        </select>

      </td>





      <!--
      <td>{{ "division" | trans }}</td>
      <td>
        <select   style="width: 100px" class="form-control input-sm" (change)="loadAcademicYearExpenses()"  [(ngModel)]="division_id" >
           <ng-container *ngFor="let item of departments">
              <option *ngIf="level_id == item.level_id"  value="{{ item.id }}" >{{ item.name }}</option>
           </ng-container>
        </select>
      </td>
      -->
    </tr>

<!-- <tr>
  
  <td>{{ "academic year" | trans }}</td>
  <td>
    <select style="width: 100px;" name="filter.year_id" (change)="handleYearChange()" class="form-control input-sm" [(ngModel)]="filter.year_id">
      <option value="">الكل</option>
      <option *ngFor="let item of applicationService.ACADEMIC_YEARS" value="{{ item.id }}">{{item.name}}</option>
      </select>

  </td>

</tr> -->
  </table>
  <br>
  <table  class="table table-bordered text-center">
    <thead>

      <tr>
        <th></th>
        <th>#</th>
        <th>{{ "name" | trans }}</th>
        <th>{{ "priorty" | trans }}</th>
        <th>{{ "value" | trans }}</th>
        <th>{{ "term" | trans }}</th>
        <th>{{ "registeration_status" | trans }}</th>
        <th>{{ "store" | trans }}</th>
        <th>{{ "discount" | trans }}</th>
        <th>{{ "wz_value" | trans }}</th>
        <th>{{ "service" | trans }}</th>
        <th></th>
      </tr>
    </thead>

    <tbody *ngIf="academicYearExpense.details" >
      <tr *ngFor="let item of academicYearExpense.details index as i" >
        <td>
          <input type="checkbox" style="margin: 0px!important" class="w3-check" (click)="toggleFromTrash(item.id)"  >
        </td>
        <td>{{ i + 1 }}</td>
        <td>
            <input type="text" class="form-control input-sm" [(ngModel)]="item.name"    >
        </td>
        <td>
            <input type="number" class="form-control input-sm" [(ngModel)]="item.priorty"     >
        </td>
        <td>
            <input type="number" class="form-control input-sm" [(ngModel)]="item.value"      >
        </td>
        <td>
            <select style="width: 100px" class="form-control input-sm" [(ngModel)]="item.term_id"   >
                <option *ngFor="let row of terms" value="{{ row.id }}" >{{ row.name }}</option>
            </select>
        </td>
        <td>
            <select style="width: 100px" class="form-control input-sm" [(ngModel)]="item.registeration_status_id"   >
              <option value="">-- {{ "registeration_status" | trans }} --</option>
              <option *ngFor="let row of registerationStatus" value="{{ row.id }}" >{{ row.name }}</option>
            </select>
        </td>
        <td>
            <select class="form-control input-sm" [(ngModel)]="item.store_id" required >
              <option *ngFor="let row of stores" value="{{ row.id }}" >{{ row.name}}</option>
            </select>
        </td>
        <td>
            <input type="number" class="form-control input-sm" [(ngModel)]="item.discount"   >
        </td>
        <td>
            <input type="number" class="form-control input-sm" [(ngModel)]="item.wz_value"   >
        </td>
        <td>
            <select class="form-control input-sm" [(ngModel)]="item.service_id" required >
              <option value="">-- {{ "service" | trans }} --</option>
              <option *ngFor="let row of services" value="{{ row.id }}" >{{ row.name}}</option>
            </select>
        </td>
        <td>
          <button permission="academic_expense_remove" mat-button color="warn" (click)="removeRow(item, i)" >
            <i class="fa fa-trash" ></i>
          </button>
        </td>
      </tr>

      <tr *ngIf="academicYearExpense.details.length <= 0 && !isLoad" >
        <td colspan="9" >
          <div class="w3-large text-center" >{{ "there is no data" | trans }}</div>
        </td>
      </tr>

      <tr *ngIf="isLoad" >
        <td colspan="9" >
          <div class="fa fa-spin fa-spinner w3-large text-center" ></div>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button permission="academic_expense_add" mat-raised-button [disabled]="!level_id"  class="w3-light-gray" (click)="addRow()" style="margin: 5px"  >
    <span class="fa fa-plus" ></span>
  </button>
  <button permission="academic_expense_edit" mat-raised-button color="primary" [disabled]="updateItem || (!level_id)" (click)="viewChanges()" style="margin: 5px"  >
    <span *ngIf="!updateItem" >{{ "save" | trans }}</span>
    <span *ngIf="updateItem"  class="fa fa-spin fa-spinner" ></span>
  </button>
</div>


<!-- remove modal -->
<div class="w3-modal w3-block" *ngIf="showRemoveModal"  role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ "remove services" | trans }}</h4>
        </div>
        <div class="modal-body text-center">
            <i class="fa fa-spinner fa-spin w3-jumbo w3-text-indigo w3-center" ></i>
            <br>
            {{ trashList.size() }} - {{ "removed" | trans }} {{ trashList.size() + removed.length }}
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
