#alertNumber {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0px;
  right: 0px;
  z-index: 20000000000000000 !important;
  margin-right: 30%;
  margin-left: 30%;
  display: none;
}

#alertNumberSuccess {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0px;
  right: 0px;
  z-index: 20000000000000000 !important;
  margin-right: 30%;
  margin-left: 30%;
  display: none;
}

#buttonLoading {
  display: none;
}

.modal {
  overflow: auto !important;
}

/*
custom button style
*/

select,
input[type="file"] {
  padding: 0px !important;
}

.filter-top {
  height: 200px !important;
  overflow: auto;
}

.filter-side {
  height: 400px !important;
  overflow: auto;
}

.w3-ul li {
  padding: 2px !important;
  font-size: 12px !important;
}

.number_input {
  width: 45px;
}

.input-setting {
  border-radius: 5em;
  border: 1px solid lightgray;
  padding-right: 10px;
}

tr,
td,
th {
  text-align: center !important;
}

th {
  border: 1px solid black;
  background-color: lightgray;
}

#alertNumber {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0px;
  right: 0px;
  z-index: 20000000000000000 !important;
  margin-right: 30%;
  margin-left: 30%;
  display: none;
}

#alertNumberSuccess {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0px;
  right: 0px;
  z-index: 20000000000000000 !important;
  margin-right: 30%;
  margin-left: 30%;
  display: none;
}

#buttonLoading {
  display: none;
}

#btn {
  display: flex;
  justify-content: center;
}

.add-theater {
  display: flex;
  justify-content: center;
  text-align: center;
}
