<div class="row">

  <div class="col-md-3">

    <!-- navbar list -->
    <div class="box box-primary material-shadow">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" style="width: 60%!important" src="/assets/img/account_settings.gif" alt="User profile picture">

        <h3 class="profile-username text-center">{{ "adminision_settings" | trans }}</h3>
 

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <a href="#" routerLink='/adminision/settings/required_documents' >
                <b>{{ "required_documents" | trans }}</b> 
                <a href="#"  class="pull-left">
                  <i class="fa fa-newspaper-o" ></i> 
                </a>
            </a>
          </li> 
        </ul> 
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
 
  </div>
  <!-- /.col -->
  <div class="col-md-9"> 
      <router-outlet></router-outlet>
  </div>
  <!-- /.col -->
</div>