

 <div class="col-lg-10 col-md-10" >

  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm- 6">
      <label>
        {{ "bank" | trans }}
      </label>
      <br>
      <select
        class="w3-white w3-input material-shadow w3-block"
        style="border-radius: 5em;"
        (change)="loadData()"
        [(ngModel)]="filter.bank_id">
      <option *ngFor="let row of banks |bank:1" value="{{ row.id }}">{{ row.name }}</option>
    </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm- 6">
      <label>
        {{ "الشركه"  }}
      </label>
      <br>
      <select
        class="form-control input-sm select2 company_id"
        style="border-radius: 5em;"
        (change)="loadData()"
        [(ngModel)]="company_id">
        <option>الكل</option>
      <option *ngFor="let row of companies" value="{{ row.id }}">{{ row.name }}</option>
    </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm- 6">
      <label>
        {{ "الشخص"  }}
      </label>
      <br>
      <select
      class="form-control input-sm select2 person_id"
        style="border-radius: 5em;"
        (change)="loadData()"
        [(ngModel)]="person_id">
        <option value="">الكل</option>

      <option *ngFor="let row of persons" value="{{ row.id }}">{{ row.name }}</option>
    </select>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm- 6">
      <label>
        {{ "date_from" | trans }}
      </label>
      <br>
      <input type="date"
      class="w3-white w3-input material-shadow w3-block"
      style="border-radius: 5em;padding: 0px!important"
      (change)="loadData()"
      [(ngModel)]="filter.date_from" >
    </div>
    <div class="col-lg-3 col-md-3 col-sm- 6">
      <label>
        {{ "date_to" | trans }}
      </label>
      <br>
      <input type="date"
      class="w3-white w3-input material-shadow w3-block"
      style="border-radius: 5em;padding: 0px!important"
      (change)="loadData()"
      [(ngModel)]="filter.date_to" >
    </div>
  </div>
  <br>
  <table class="table-bordered w3-white text-center material-shadow safe-box" id="printable" >

    <tr>
      <th class="w3-padding text-center"  colspan="5" >
        {{ "checks" | trans }} {{ filter.date_from }} - {{ filter.date_to }}
      </th>
    </tr>
    <tr class="w3-light-gray" >
      <th class="w3-padding" >{{ "#" | trans }}</th>
      <th class="w3-padding" >{{ "date" | trans }}</th>
      <th class="w3-padding hidden" >{{ "bank" | trans }}</th>
      <th class="w3-padding" >{{ "check_number" | trans }}</th>
      <th class="w3-padding" >{{ "notes" | trans }}</th>
      <th class="w3-padding" >{{ "value" | trans }}</th>
      <th class="w3-padding" >{{ "is_paid" | trans }}</th>
      <th class="w3-padding" >{{ "remove"| trans }}</th>
    </tr>
    <tr *ngIf="!filter.bank_id"  >
      <td class="w3-text-red text-center" colspan="8" >{{ "select bank" | trans }}</td>
    </tr>
    <tr *ngIf="loading"  >
      <td class="w3-text-indigo text-center" colspan="8" ><i class="fa fa-spin fa-spinner"></i></td>
    </tr>
    <ng-container *ngFor="let item of data |check:company_id |person:person_id index as i" >
      <tr *ngIf="filter.bank_id && !loading"  >
        <td>
          <input
          type="number"
          class="w3-block w3-border-0  text-center"
          readonly
          [value]="i + 1"  >
          <span style="display: none;" >{{ i+1 }}</span>
        </td>
        <td>
          <input
          type="date"
          class="w3-block w3-border-0  text-center"
          (change)="sendResource(item)"
          [(ngModel)]="item.date"  >
          <span style="display: none;" >{{ item.date }}</span>
        </td>
        <td class="hidden" >
          <select
          class="w3-block w3-border-0  text-center"
          (change)="sendResource(item)"
          [(ngModel)]="item.bank_id">
          <option *ngFor="let row of banks " value="{{ row.id }}">{{ row.name }}</option>
        </select>
        <span style="display: none;" >{{ item.bank? item.bank.name : '' }}</span>
        </td>
        <td>
          <input
          type="number"
          class="w3-block w3-border-0  text-center"
          (change)="sendResource(item)"
          [(ngModel)]="item.number"  >
          <span style="display: none;" >{{ item.number }}</span>
        </td>
        <td>
          <input
          type="text"
          class="w3-block w3-border-0  text-center"
          (change)="sendResource(item)"
          [(ngModel)]="item.notes"  >
          <span style="display: none;" >{{ item.notes }}</span>
        </td>
        <td>
          <input type="number"
          (change)="sendResource(item)"
          class="w3-block w3-border-0  text-center"
          [(ngModel)]="item.value" >
          <span style="display: none;" >{{ item.value | number }}</span>
        </td>
        <td>
          <mat-slide-toggle
          (change)="sendResource(item)"
          class="w3-block w3-border-0  text-center"
          [(ngModel)]="item.is_paid"
          ></mat-slide-toggle>
          <span style="display: none;" >{{ (item.is_paid? 'yes' : 'no') | trans }}</span>
        </td>
        <td>
          <button class="fa fa-trash w3-button" *ngIf="item.id"  (click)="remove(item, i)" ></button>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ "total" | trans }}</td>
      <td>
        {{ total | number }}
      </td>
      <td></td>
      <td></td>
    </tr>

  </table>
  <br>
  <button  class="btn btn-primary" (click)="create()" >
    <i class="fa fa-plus"></i>
  </button>
</div>
