<div class="w3-block w3-row">
  <div class="w3-white material-shadow safe-box  ">
    <div class="safe-box-header w3-large" style="padding: 5px!important">
      {{ "required_documents" | trans }}
    </div>
    <div class="border-bottom-dashed"></div>
    <br>

    <div class="row">

      <div class="col-lg-12">
        <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">

          <div class="custom-panel-body table-responsive w3-padding w3-center" style="height: 400px;" >
            <table class=" table-bordered" >
              <thead>
                <th>#</th>
                <th>{{ "name" | trans }}</th>
                <th>{{ "type" | trans }}</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let item of data index as i" >
                  <td>{{ i + 1 }}</td>
                  <td>
                    <input type="text" class="form-control input-sm" [(ngModel)]="item.name" >
                  </td>
                  <td>
                    <select  class="form-control input-sm" [(ngModel)]="item.type" >
                      <option value="original">{{ "original" | trans }}</option>
                      <option value="copy">{{ "copy" | trans }}</option>
                      <option value="both">{{ "both" | trans }}</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn btn-success"
                    [disabled]="isSubmitted"
                    (click)="send(item, i)" >
                    <i *ngIf="!isSubmitted" class="fa fa-check" ></i>
                    <i *ngIf="isSubmitted" class="fa fa-spin fa-spinner" ></i>
                  </button>
                    <button class="btn btn-danger"
                    [disabled]="isSubmitted"
                    (click)="destroy(item, i)" >
                      <i *ngIf="!isSubmitted" class="fa fa-trash" ></i>
                      <i *ngIf="isSubmitted" class="fa fa-spin fa-spinner" ></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button class="fa fa-plus w3-block btn btn-default btn-flat" (click)="add()" ></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>


  </div>
</div>
