<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="w3-white material-shadow safe-box">
        <div class="safe-box-header w3-xlarge">
          {{ "show application" | trans }}
        </div>
        <br>
        <div class="border-bottom-dashed" ></div>
        <br>
  
        <div class="safe-box-body row" >
  
          <div class="col-lg-3 col-md-3 col-sm-12" >
            <img [src]="application.personal_photo_url?  application.personal_photo_url : defaultImage" class="w3-block w3-round border-gray" >
            <br> 
            <div class="custom-panel w3-display-container w3-round" style="padding: 5px" >
  
              <div   
                class="alert alert-danger w3-block btn-margin-bottom text-center" 
               >
                {{ currentError }}
              </div>

              <button class="btn btn-default w3-block small-shadow btn-margin-bottom"  (click)="toggle(null)"  >{{ "all info" | trans }}</button> 
              
              <button class="btn btn-default w3-block small-shadow btn-margin-bottom"  (click)="toggle('student-info-panel')"  >{{ "student info" | trans }}</button> 
             
              <button class="btn btn-default w3-block small-shadow btn-margin-bottom"  (click)="toggle('military-info-panel')"  >{{ "military info" | trans }}</button> 
               
              <button class="btn btn-default w3-block small-shadow btn-margin-bottom"  (click)="toggle('parent-info-panel')"  >{{ "parent info" | trans }}</button> 
               
              <button class="btn btn-default w3-block small-shadow btn-margin-bottom"  (click)="toggle('additional-info-panel')"  >{{ "additional info" | trans }}</button> 
               
              <button class="btn btn-default w3-block small-shadow btn-margin-bottom"  (click)="toggle('document-info-panel')"  >{{ "required documents" | trans }}</button> 
               
            </div>
          </div>
  
          <div class="col-lg-9 col-md-9 col-sm-12" >
  
             
  
            <!--

        => student basic info
        name	                  email	
        academic_years_id	      grade	
        registeration_date	    phone_1
        registration_status_id	registration_method_id
        qualification_date	    qualification_set_number	
        qualification_types_id	qualification_id	
        level_id	              case_constraint_id
        national_id	            password  
        acceptance_code	        acceptance_date	
        status	                writen_by	
        
      
        => additional info
        		 
        nationality_id	        gender	
        language_1_id	          language_2_id	
        city_id	                government_id	 
        country_id	            religion 
        address	                birth_address	
        national_id_date	      national_id_place	 

        => military info
        military_status_id	    military_area_id 
        triple_number
        
        => parent info
        parent_name	            parent_national_id	
        parent_job_id	          parent_address	
        parent_phone	          relative_relation_id
        
        => personal image
        personal_photo	

        => required document
        
            -->
            <div class="custom-panel w3-display-container w3-round application-panel student-info-panel">
              <div class="custom-panel-title" >{{ "student basic info" | trans }}</div>
  
              <div class="custom-panel-body"  >
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table w3-block" >
                      <tr>
                        <th>{{ "student name" | trans }} *</th>
                        <td>
                          <input readonly  
                          class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                          [(ngModel)]="application.name" >
                        </td>
                      </tr> 
                      <tr> 
                          <th>{{ "email" | trans }}</th>
                          <td>
                            <input readonly  
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.email" >
                          </td>
                      </tr>
                      <tr>
                        <th>{{ "academic_years" | trans }} *</th>
                        <td>
                          <select readonly 
                          (change)="watchLevel()"
                          class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                          [(ngModel)]="application.academic_years_id">
                            <option *ngFor="let item of applicationSettings.ACADEMIC_YEARS" value="{{ item.id }}">{{ item.name }}</option>
                          </select>  
                        </td>
                      </tr>
                      <tr>
                          <th>{{ "grade" | trans }} *</th>
                          <td>
                            <input readonly  
                            (change)="watchLevel()"
                            type="number"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.grade" >
                            <p *ngIf="gradeError" class="w3-text-red w3-tiny"  >
                              {{ gradeError }}
                            </p>
                          </td>
                      </tr> 
                      <tr>
                          <th>{{ "registeration_date" | trans }}</th>
                          <td>
                            <input readonly  
                            type="date"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.registeration_date" >
                          </td>
                      </tr>
                      <tr>
                          <th>{{ "registeration_date" | trans }}</th>
                          <td>
                            <input readonly  
                            type="date"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.registeration_date" >
                          </td>
                      </tr>
                      <!-- <tr>
                        <th>{{ "division" | trans }}</th>
                        <td>
                            <input readonly type="text" readonly
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm"
                                [(ngModel)]="application.division? application.division.name : application.division_id">

                        </td>
                    </tr> -->

                    <tr>
                        <th>{{ "registration_status" | trans }} *</th>
                        <td>
                          <select readonly 
                          class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                          [(ngModel)]="application.registration_status_id">
                            <option *ngFor="let item of applicationSettings.REGISTERATION_STATUS" value="{{ item.id }}">{{ item.name }}</option>
                          </select>  
                        </td>
                      </tr>
                      <tr>
                        <th>{{ "registration_method" | trans }}</th>
                        <td>
                          <select readonly 
                          class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                          [(ngModel)]="application.registration_method_id">
                            <option *ngFor="let item of applicationSettings.REGISTERATION_METHODS" value="{{ item.id }}">{{ item.name }}</option>
                          </select>  
                        </td>
                      </tr>
                      <tr>
                          <th>{{ "qualification_date" | trans }} *</th>
                          <td>
                            <input readonly  
                            type="date"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.qualification_date" >
                          </td>
                      </tr>
                      <tr>
                          <th>{{ "qualification_set_number" | trans }}</th>
                          <td>
                            <input readonly  
                            type="number"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.qualification_set_number" >
                          </td>
                      </tr>
                    </table>
                  </div>  

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table w3-block w3-block" >
                        <tr>
                          <th>{{ "qualification" | trans }} *</th>
                          <td>
                            <select readonly 
                            (change)="watchLevel()"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.qualification_id">
                              <option *ngFor="let item of applicationSettings.QUALIFICATIONS" value="{{ item.id }}">{{ item.name }}</option>
                            </select>  
                          </td>
                        </tr>
                        <tr>
                          <th>{{ "qualification_types" | trans }} *</th>
                          <td>
                            <select readonly 
                            (change)="watchLevel()"
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.qualification_types_id">
                              <ng-container *ngFor="let item of applicationSettings.QUALIFICATION_TYPES">
                                  <option *ngIf="item.qualification_id == application.qualification_id && item.academic_year_id == application.academic_years_id" value="{{ item.id }}">{{ item.name }}</option>
                              </ng-container>
                              
                            </select>  
                          </td>
                        </tr>
                        <tr>
                          <th>{{ "division" | trans }}</th>
                          <!-- <td>
                              <input readonly type="text" readonly
                                  class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm"
                                  [(ngModel)]="application?.division?.name || application.division_id">
  
                          </td> -->
                          <td>
                            <input readonly type="text" readonly
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm"
                                [(ngModel)]="application?.division?.name || application.division_id">

                        </td>
                      </tr>
                        <tr>
                          <th>{{ "level" | trans }}</th>
                          <td>
                            <input readonly  
                            type="text"
                            readonly
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.level_name" >
                            <input readonly  
                            type="hidden"  
                            [(ngModel)]="application.level_id" >
                          </td>
                        </tr>
                        <tr>
                          <th>{{ "case_constraint" | trans }}</th>
                          <td>
                            <select readonly 
                            class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                            [(ngModel)]="application.case_constraint_id">
                              <option *ngFor="let item of applicationSettings.CASE_CONSTRAINTS" value="{{ item.id }}">{{ item.name }}</option>
                            </select>  
                          </td>
                        </tr>
                        <tr>
                            <th>{{ "national_id" | trans }} *</th>
                            <td>
                              <input readonly  
                              type="text"
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.national_id" >
                            </td>
                        </tr>
                        <tr>
                            <th>{{ "coordination_password" | trans }}</th>
                            <td>
                              <input readonly  
                              type="password"
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.password" >
                            </td>
                        </tr>
                        <tr>
                            <th>{{ "acceptance_code" | trans }}</th>
                            <td>
                              <input readonly  
                              type="text"
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.acceptance_code" >
                            </td>
                        </tr>
                        <tr>
                            <th>{{ "acceptance_date" | trans }}</th>
                            <td>
                              <input readonly  
                              type="date"
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.acceptance_date" >
                            </td>
                        </tr>
                        <tr>
                            <th>{{ "phone_1" | trans }}</th>
                            <td>
                              <input readonly  
                              type="text"
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.phone_1" >
                            </td>
                        </tr>

                      
                    </table>
                  </div>
                </div>
              </div>
  
            </div>
 
            <div class="custom-panel w3-display-container w3-round  application-panel military-info-panel">
                <div class="custom-panel-title" >{{ "military info" | trans }}</div>
    
                <div class="custom-panel-body"  >
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <table class="table w3-block" >
                          <tr>
                            <th>{{ "military_status" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.military_status_id">
                                <option *ngFor="let item of applicationSettings.MALITARY_STATUS" value="{{ item.id }}">{{ item.name }}</option>
                              </select>  
                            </td>
                          </tr>  
                          <tr>
                            <th>{{ "military_area" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.military_area_id">
                                <option *ngFor="let item of applicationSettings.MALITARY_AREAS" value="{{ item.id }}">{{ item.name }}</option>
                              </select>  
                            </td>
                          </tr>  
                      </table>
                    </div>  
  
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <table class="table w3-block w3-block" > 
                          <tr>
                            <th>{{ "triple_number" | trans }}</th>
                            <td>
                              <input readonly  
                              type="text"
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.triple_number" >
                            </td>
                          </tr> 
                      </table>
                    </div>
                  </div>
                </div>
    
              </div>
 
              <div class="custom-panel w3-display-container w3-round application-panel parent-info-panel">
                  <div class="custom-panel-title" >{{ "parent info" | trans }}</div>
      
                  <div class="custom-panel-body"  >
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <table class="table w3-block" >
                            <tr>
                              <th>{{ "parent_name" | trans }}</th>
                              <td>
                                <input readonly  
                                type="text"
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.parent_name" >
                              </td>
                            </tr> 
                            <tr>
                              <th>{{ "parent_national_id" | trans }}</th>
                              <td>
                                <input readonly  
                                type="text"
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.parent_national_id" >
                              </td>
                            </tr> 
                            <tr>
                              <th>{{ "parent_address" | trans }}</th>
                              <td>
                                <input readonly  
                                type="text"
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.parent_address" >
                              </td>
                            </tr>  
                        </table>
                      </div>  
    
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <table class="table w3-block w3-block" > 
                            <tr>
                              <th>{{ "parent_phone" | trans }}</th>
                              <td>
                                <input readonly  
                                type="text"
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.parent_phone" >
                              </td>
                            </tr> 
                            <tr>
                              <th>{{ "parent_job" | trans }}</th>
                              <td>
                                <select readonly 
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.parent_job_id">
                                  <option *ngFor="let item of applicationSettings.PARENT_JOBS" value="{{ item.id }}">{{ item.name }}</option>
                                </select>  
                              </td>
                            </tr>   
                            <tr>
                              <th>{{ "relative_relation" | trans }}</th>
                              <td>
                                <select readonly 
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.relative_relation_id">
                                  <option *ngFor="let item of applicationSettings.RELATIVE_RELATIONS" value="{{ item.id }}">{{ item.name }}</option>
                                </select>  
                              </td>
                            </tr>  
                        </table>
                      </div>
                    </div>
                  </div>
      
                </div>

            <div class="custom-panel w3-display-container w3-round application-panel additional-info-panel">
                <div class="custom-panel-title" >{{ "additional info" | trans }}</div>
    
                <div class="custom-panel-body"  >
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <table class="table w3-block" >
                          <tr>
                            <th>{{ "nationality" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.nationality_id">
                                <option *ngFor="let item of applicationSettings.NATIONALITIES" value="{{ item.id }}">{{ item.name }}</option>
                              </select>  
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "gender" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.gender">
                                <option value="male">{{ "male" | trans }}</option>
                                <option value="female">{{ "female" | trans }}</option>
                              </select>  
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "language_1" | trans }}</th>
                            <td>
                                <select readonly
                                    class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm"
                                    [(ngModel)]="application.language_1_id">
                                    <option
                                    *ngFor="let item of applicationSettings.LANGUAGES"
                                    value="{{ item.id }}"
                                  >
                                    {{ item.name }}
                                  </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ "language_2" | trans }}</th>
                            <td>
                                <select readonly
                                    class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm"
                                    [(ngModel)]="application.language_2_id">
                                    <option
                                    *ngFor="let item of applicationSettings.LANGUAGES"
                                    value="{{ item.id }}"
                                  >
                                    {{ item.name }}
                                  </option>
                                </select>
                            </td>
                        </tr>
                          <tr>
                            <th>{{ "country" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.country_id">
                                <option *ngFor="let item of applicationSettings.COUNTRIES" value="{{ item.id }}">{{ item.name }}</option>
                              </select>  
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "government" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.government_id">
                              <ng-container  *ngFor="let item of applicationSettings.GOVERNMENTS">
                                  <option *ngIf="application.country_id == item.country_id" value="{{ item.id }}">{{ item.name }}</option>
                              </ng-container> 
                              </select>  
                            </td>
                          </tr>  
                      </table>
                    </div>  
  
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <table class="table w3-block w3-block" >
                          <tr>
                            <th>{{ "city" | trans }}</th>
                            <td>
                              <select readonly 
                                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                                [(ngModel)]="application.city_id">
                                <ng-container  *ngFor="let item of applicationSettings.CITIES">
                                    <option *ngIf="application.government_id == item.government_id" value="{{ item.id }}">{{ item.name }}</option>
                                </ng-container> 
                              </select>  
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "religion" | trans }}</th>
                            <td>
                              <select readonly 
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.religion">
                                <option value="muslim">{{ "muslim" | trans }}</option>
                                <option value="christian">{{ "christian" | trans }}</option>
                              </select>  
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "address" | trans }}</th>
                            <td>
                              <input readonly  
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.address" >
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "birth_address" | trans }}</th>
                            <td>
                              <input readonly  
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.birth_address" >
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "national_id_date" | trans }}</th>
                            <td>
                              <input readonly  
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.national_id_date" >
                            </td>
                          </tr> 
                          <tr>
                            <th>{{ "national_id_place" | trans }}</th>
                            <td>
                              <input readonly  
                              class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm" 
                              [(ngModel)]="application.national_id_place" >
                            </td>
                          </tr> 
                        
                      </table>
                    </div>
                  </div>
                </div>
    
              </div>
           
              <div class="custom-panel w3-display-container w3-round application-panel document-info-panel">
                  <div class="custom-panel-title" >{{ "required documents info" | trans }}</div>
      
                  <div class="custom-panel-body"  >
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row w3-padding" >
                          <div class="w3-padding text-center" style="float: right;min-width: 120px;" *ngFor="let item of application.student_required_document" >
                              <a [href]="item.path_url" target="_blank"  >
                                  <img [src]="item.path_url"  class=" w3-round material-shadow w3-center" style="height: 100px;" >
                                  <br>
                                  {{ item.required_document.name  }}
                              </a>
                          </div>
                        </div> 
                      </div>   
                    </div>
                  </div>
      
                </div>
   
              <div class="custom-panel w3-display-container w3-round">
                  <div class="custom-panel-body"  > 
                     
                    <a href="#" class="btn btn-default small-shadow w3-margin-left"  routerLink="/adminision/application" >{{ "exit" | trans }}</a>
                  </div>
      
                </div>
                  
          </div>
  
  
  
        </div>
      </div>
    </div>
  </div>
   
  
  
  