<!--    <aside class="main-sidebar">-->
<!--      &lt;!&ndash; sidebar: style can be found in sidebar.less &ndash;&gt;-->
<!--      <section class="sidebar">-->
<!--        &lt;!&ndash; Sidebar user panel &ndash;&gt;-->
<!--        <div class="user-panel">-->
<!--          <div class="pull-left image">-->
<!--            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
<!--          </div>-->
<!--          <div class="pull-left info">-->
<!--            <p>Alexander Pierce</p>-->
<!--            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; sidebar menu: : style can be found in sidebar.less &ndash;&gt;-->
<!--        <ul class="sidebar-menu tree" data-widget="tree">-->
<!--          <li class="header">الاعدادات الرئيسية</li>-->
<!--          <li><a routerLink="/settings/country"><i class="fa fa-circle-o"></i> الدول </a></li>-->
<!--          <li><a routerLink="/settings/city"><i class="fa fa-circle-o"></i> المدن </a></li>-->
<!--        </ul>-->
<!--      </section>-->
<!--      &lt;!&ndash; /.sidebar &ndash;&gt;-->
<!--    </aside>-->
<div class="content">
    <div class="row">
        <div class="col-md-2">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">الاعدادات الرئيسية</h3>
                    <ul class="list-group list-group-unbordered">


                        <li class="list-group-item" *ngIf="auth.canOr(['country', 'city', 'government'])">
                            <a class="active" routerLink="/settings/country"><i class="fa fa-circle-o"></i>
                {{ "coutries & governments & cities" | trans  }}
              </a>
                        </li>
                        <li class="list-group-item"  *ngIf="auth.can(['term'])">
                          <a class="active" routerLink="/settings/term"><i class="fa fa-circle-o"></i>
                          {{ "التيرم الحالى"  }}
                          </a>
                        </li>
                      <!-- permission="year" permission="term" -->
                      <li class="list-group-item"  *ngIf="auth.can(['year'])">
                        <a class="active" routerLink="/settings/year"><i class="fa fa-circle-o"></i>
                        {{ "السنه الحاليه   "  }}
                        </a>
                      </li>

                        <li class="list-group-item" *ngIf="auth.canOr(['division', 'department', 'level'])">
                            <a class="active" routerLink="/settings/division"><i class="fa fa-circle-o"></i>
                {{ "divisions & departments & levels" | trans  }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.canOr(['qualification', 'qualification_type'])">
                            <a class="active" routerLink="/settings/qualification"><i class="fa fa-circle-o"></i>
                {{ "qualifications" | trans  }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['academic_year'])">
                            <a class="active" routerLink="/settings/academic-year"><i class="fa fa-circle-o"></i>
                {{ "academic_years" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['registeration_method'])">
                            <a class="active" routerLink="/settings/registration-method"><i class="fa fa-circle-o"></i>
                {{ "registration_methods" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['registeration_status'])">
                            <a class="active" routerLink="/settings/registration-status"><i class="fa fa-circle-o"></i>
                {{ "registration_status" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['case_constraint'])">
                            <a class="active" routerLink="/settings/case-constraint"><i class="fa fa-circle-o"></i>
                {{ "case_constraints" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['language'])">
                            <a class="active" routerLink="/settings/language"><i class="fa fa-circle-o"></i>
                {{ "languages" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['nationality'])">
                            <a class="active" routerLink="/settings/nationality"><i class="fa fa-circle-o"></i>
                {{ "nationalities" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['parent_job'])">
                            <a class="active" routerLink="/settings/parent-job"><i class="fa fa-circle-o"></i>
                {{ "parent jobs" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['relation'])">
                            <a class="active" routerLink="/settings/relation"><i class="fa fa-circle-o"></i>
                {{ "relations" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['student_code_series'])">
                            <a class="active" routerLink="/settings/student-code-series"><i class="fa fa-circle-o"></i>
                {{ "student code series" | trans }}
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['permission'])">
                            <a class="active" routerLink="/settings/permissions"><i class="fa fa-circle-o"></i>
                {{ "permissions" | trans }}
              </a>
                        </li>
                        <li class="list-group-item" *ngIf="auth.can(['registeration_method'])">
                            <a class="active" routerLink="/settings/commission_types"><i class="fa fa-circle-o"></i>
                أنواع اللجان
              </a>
                        </li>

                        <li class="list-group-item" *ngIf="auth.can(['translation'])">
                            <a class="active" routerLink="/settings/translations"><i class="fa fa-circle-o"></i>
                {{ "translations" | trans }}
              </a>
                        </li>

                        <!--
            <li class="list-group-item">
              <a class="active" routerLink="/settings/academic-year"><i class="fa fa-circle-o"></i>
                الاعوام الدراسية
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/levels"><i class="fa fa-circle-o"></i>
                 المستويات الدراسية
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/qualifications"><i class="fa fa-circle-o"></i>
                المؤهلات الدراسية
              </a>
            </li>

            <li class="list-group-item">
              <a class="active" routerLink="/settings/qualification-types"><i class="fa fa-circle-o"></i>
                انواع المؤهلات الدراسية
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/divisions"><i class="fa fa-circle-o"></i>
                  الشعب الدراسية
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/departments"><i class="fa fa-circle-o"></i>
                  الاقسام الدراسية
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/registration-methods"><i class="fa fa-circle-o"></i>
                وسائل التعارف
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/required-documents"><i class="fa fa-circle-o"></i>
                 الاوراق المطلوبة
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/registration-status"><i class="fa fa-circle-o"></i>
                 حالات التقديم
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/case-constraints"><i class="fa fa-circle-o"></i>
                حالات القيد
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/constraint-status"><i class="fa fa-circle-o"></i>
              مواقف القيد
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/languages"><i class="fa fa-circle-o"></i>
              اللغات
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/translations"><i class="fa fa-circle-o"></i>
                الترجمة
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/settings/parent-jobs"><i class="fa fa-circle-o"></i>
                وظائف اولياء الامور
              </a>
            </li>
            -->
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
